<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <a class="navbar-brand" href="#">List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Subtitles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/comments']">Comments</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <!-- Application alerts -->
  <app-alert></app-alert>
  <!-- Application content -->
  <router-outlet></router-outlet>
</div>
