<div class="row">
  <div class="col">
    <h1 class="display-4">Comments list</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="narrow">Id</th>
            <th scope="col">Title</th>
            <th scope="col" class="narrow">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comment of comments">
            <th scope="row">{{comment?.id}}</th>
            <td>{{comment?.title}}</td>
            <td>
              <i class="fa fa-edit" title="Edit" [routerLink]="[comment.id]"></i>
              <i class="fa fa-trash" title="Delete" (click)="delete(comment.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-primary" [routerLink]="['/comments/create']">Create</button>
  </div>
</div>
